@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bolder;
  font-family: 'Oxanium', cursive;
}
html{
  font-size: 62.5%;
}
body{
  text-align: center;
  background: linear-gradient(to bottom, royalblue, skyblue,white);
  min-height: 100vh;
}
.pokedex{
  display: inline-block;
  padding: 10px;
  position: relative;
}
.pokedex__img-pokedex{
  width: 100%;
  max-width: 425px;
}
.pokedex__pokemon{
  position: absolute;
  top: 40%;
  left: 45.7%;
  transform: translate(-50%,-50%);
  height: 20%;
}
.pokedex__data{
  position: absolute;
  top: 54.5%;
  right: 26%;
  font-size: clamp(2.4rem,3.9vw,3.1rem);
}
.pokedex__number{
  color: #aaa;
}
.pokedex__form{
  position: absolute;
  top: 68.5%;
  left: 50%;
  transform: translate(-55%, -50%);
  width: 65%;
}
.pokedex__input{
  width: 100%;
  height: 50px;
  padding: 10px;
  outline: none;
  background-color: white;
  font-weight: bold;
  font-size: clamp(1.5rem, 1.5vw,2.8rem);
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}
.pokedex__c-btn{
  width:65%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 88%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  gap:30px;
}
.pokedex__btn{
  width: 50%;
  height: 45px;
  color: white;
  background-color: #444;
  font-size: clamp(1.8rem,1.6vw,2rem);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: -3px 3px 0 #222, -5px 7px 0 #000;
}
.pokedex__btn:hover{
  color:yellow;
}
.pokedex__btn:active{
  box-shadow: inset -4px 5px 0 #222;
  font-size: 1.5rem;
  color: lawngreen;
}
